.greetings {
    padding: 10px;
}

.homeimage {
    width: 100%; 
}

.container {
    text-align: center;
}

#button0, #button1, #button2, #button3, #button4, #button5, #button6 {
    background-color: red;
    width: 200px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1d3c6a;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    font-weight: bold;
}

#link {
    width: 200px;
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border: 1px solid #1d3c6a;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    font-weight: bold;
    
}

ul {
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    padding: 0 2px 1px 15px;
}
h1, h3 {
    color: red;
}

